<%- include('partials/header') %>

<h2 class="mb-4 text-primary">Editar empleado</h2>


<!-- Formulario para añadir nuevo empleado -->
<div class="card shadow">
  <div class="card-body">
    <h5 class="card-title">Editar empleado</h5>
  <form action="/empleados/actualizar/<%= empleado.id_empleado %>" method="POST" class="row g-3 mt-3">
      <div class="col-md-6">
        <label for="dni" class="form-label">DNI</label>
        <input type="text" name="dni" id="dni" class="form-control" 
         value="<%= empleado.dni %>" required>
      </div>
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" name="nombre" id="nombre" class="form-control" 
        value="<%= empleado.nombre %>" required>
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" name="email" id="email" class="form-control"
        value="<%= empleado.email %>" >
      </div>
      <div class="col-12 text-end">
        <button type="submit" class="btn btn-success">Actualizar</button>
      </div>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
